@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

$themeRed: #cd1f1f;
$themeYellow: #f8c40b;
$themeWhite: #f8f8f8;

html, body {
    font-family: "Signika", sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Signika", sans-serif;
}

.kitchenbee-btn {
    background-color: $themeRed;
    color: $themeYellow;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    
    &:hover {
        background-color: darken($themeRed, 10%);
        color: $themeWhite;
        text-decoration: none;
    }
}

.site-wrapper {
    width: 100%;
    display: flex;
}

.main-content {
    width: 100%;
    margin: 0 auto;
}

@import 'components/header';
@import 'components/footer';
@import 'components/homepage-banner';
@import 'components/food-carousel';
@import 'components/featured-dishes';